/* Styles.css */

body{
    background-color:#fff;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    line-height:1.3em;
    color:#444;
    margin:0;
}
h1, h2{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size:4em;
    font-weight:bold;
    line-height:1.1em;
}
h2{
    margin-top:40px;
}
a{
    color:#7bc6bc;
}

/* Header */
header{
    position:relative;
    background-size:cover;
    background-attachment:fixed;
    background-image:url(images/startup-849804_1920.jpg);
    margin-top:50px;
}
.headline{
    font-size:1.4em;
}
@media(max-width:768px){
    h1{
        font-size:2em;
    }
    .headline{
        font-size:1em;
    }
}
.arrow-next{
    position:absolute;
    left:50%;
    bottom:60px;
    display:block;
    text-align: center;
    padding-bottom: 20px;
    /*color:#fff;*/
}
.header-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px 20px;
    min-height:100vh;
    color:#fff;
}
.logo{
    margin-right: 40px;
}

/* Menu */
.navbar-nav{
    display:table;
    float:none;
    margin-left:auto;
    margin-right:auto;
}
.navbar-default{
    background-color: #fff;
    border:none;
}
.navbar-default .navbar-nav > li > a{
    font-weight:bold;
}

/* Content */
main ul li{
    margin-bottom: 15px;
}
section h2{
    font-size:3.5em;
    font-weight:bold;
    text-align:center;
    margin-bottom:50px;
    margin-top:0;
}
.container-fluid .jumbotron{
    border-radius:0;
    margin-bottom:0;
    padding-top:80px;
    padding-bottom:80px;
}
.section-competences{
    background-image:url("images/coding.jpg");
    background-size:cover;
    text-align:center;
}
.section-competences h2{
    color:#fff;
}
.section-formation{
    background-color:#fff;
}
.competences-technologies{
    list-style:none;
    margin-bottom:40px;
    padding:0;
}
.competences-technologies li{
    display:inline-block;
    padding-right:15px;
}
.competences-technologies img{
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:20px;
    max-height:90px;
    padding:10px;
}
.experience{
    text-align:center;
}
.experience-date{
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
}
.experience-list{
    list-style:none;
    margin-top:20px;
    padding-left:0;
}
.experience-list li{
    margin-bottom:0;
}
.formation{
    text-align:center;
}
.formation-date{
    font-weight:bold;
    color:#7bc6bc;
}
.formation-title{
    font-weight:bold;
    margin:10px 0;
}

/* Footer */
footer{
    padding-top:20px;
    flex: 1 1 auto;
}
.footer-wrapper{
    display:flex;
    padding:20px;
    align-items:center;
}
footer iframe{
    width:50%;
}

/* Social */
.social-links{
    list-style: none;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
}
.social-links li{
    display:inline-block;
    margin-right: 10px;
}
.social-links a:hover{
    color:#8dd5cc;
}

/* Portfolio */
#filters {
    margin:1%;
    padding:0;
    list-style:none;
}
#filters li {
    display:inline-block;
    margin-bottom:0;
}

#filters li span {
    display: block;
    padding:5px 20px;       
    text-decoration:none;
    color:#666;
    cursor: pointer;
}

#filters li span.active {
    background: #7bc6bc;
    color:#fff;
}
#portfoliolist .portfolio {
    position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:12%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}
.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
}
.portfolio img {
    max-width:100%;
    position: relative;
}    
.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
}
.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}